langchain-community
langchain_huggingface
langchain
langsmith
transformers 
qdrant_client
langchain-qdrant
streamlit
bs4
langchain-google-genai
pillow
python-dotenv
langchain-openai
pinecone-client
langchain_pinecone
